{% trans %}
<div class="margin-auto">
    <br><br>
<h1>Offene Daten aus Bayern</h1>
<br><br>
<h5 class='normal'>Haben Sie Schwierigkeiten, zuverlässige Daten für Ihr Unternehmen, Ihr Studium, Ihre Arbeit oder einfach für Ihr
tägliches Leben zu finden?Lokale Behörden und öffentliche Einrichtungen sind hier, um Ihnen zu helfen!<br><br>
Derzeit bauen wir das Bayern Open Data Portal auf und ermutigen Sie, gemeinsam mit uns zu arbeiten und uns Feedback zu
geben, welche Informationen für Sie wichtig sind.</h5>
<br><br>
<button class="black-btn">Feedback geben</button>
</div>
{% endtrans %}